
/*Header Section*/
.top-column{
    /*Styles the top column class, giving it a font as well as centring the positon*/
    /*Found from starter code on NILE*/
    text-align: center;
    font-family: 'Sunshiney', cursive;
    font-size: 1.5em;
}
header{
    height: 75px;
    width: 100%;
}
body{
    /*Creates a background image, and covers the header section*/
    /*Found help from: https://www.quackit.com/html/codes/html_background_image_codes.cfm*/
    width: 100%;
    background-image: url("background.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/*This section styles all text within the page*/
h1,
.title{
    color: silver;
}
h3,
p{
    font-family: 'Sunshiney', cursive;
}
p{
    font-weight: bold;
}




/*Navigation Bar*/
/*Same as navigation bar CSS in 'index.html' found from NILE*/
nav{
    margin: 10px;
}

ul{
    overflow: auto;
    list-style-type: none;
}

li{
    /*Styles the navigation bar to seperate the links */
    height: 25px;
    float: left;
    margin-right: 0px;
    border-right: 1px solid #aaaaaa;
    padding: 0 20px;
}
li a{
    text-decoration: none;
    font-weight: bold;
    color: silver;
    font-family: 'Sunshiney', cursive;
}
li a:hover{
    /*Whilst hovering over the navigation links, the letters turn red*/
    color: red;
    font-size: 15pt;
}

/*Columns*/
/*Creates three main columns, and positions them in thirds, each column hs been given a certain %.*/
/*Help found from NILE*/
.Left{
    width: 50%;
    height: 100%;
    float: left;
}
.Right{
    width: 50%;
    height: 100%;
    float: right;
}

.Bottom{
    margin-bottom: 0;
    width: 100%;
    float: left;
    text-align: center;
}