/*Styles everything with no margin and no padding*/
*{
    margin: 0;
    padding: 0;
}
/*Gives the html 'h1' element the correct font and colour*/
h1{
    font-family: 'Sunshiney', cursive;
    color: silver;
}
/*Same applies here except with h2 and h3*/
h2,
h3{
    /*Creates the font style, and size, font found from google fonts */
    font-family: 'Sunshiney', cursive;
    color: black;
}
.me{
    /*Styles the image of me into a circle*/
    border-style: none;
    border-radius: 100%;
    filter: invert(0);

}
.me:hover{
    /*If user hovers over image, it turns black and white*/
    filter: invert(1);
    border-style: none;
    border-radius: 100%;
    transition: background-size 0.3s ease;
    filter: invert(1);
    transition: background size 0.3s ease;
}
body{
    /*Aligns all objects within body to the center*/
    /*Help from source: https://www.quackit.com/html/codes/html_background_image_codes.cfm*/
    text-align: center;
    width: 100%;
    background-image: url("background.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}
footer.icon{
    /*Creates a margin between the body and the footer to seperate the two */
    /*Found from starter code on NILE */
    padding-top: 25px;
    width: 100%;
    height: 100%;
    float: left;
    text-align: center;
    font-size: 20px;
}


/*Icons*/
/*Styles the icons to be black, but changes colour if the user hovers over them*/
/*Used source:https://ionicons.com/*/
.twitter{
    color: black;
}
.twitter:hover{
    color: blue;
}
.github{
    color: black;
}
.github:hover{
    color: blueviolet;
}

/*Navigation bar*/
/*Starter code found from NILE*/
nav{
    margin: 10px;
}

ul{
    overflow: auto;
    list-style-type: none;
}

li{
    /*Styles the navigation bar to seperate the links */
    height: 25px;
    float: left;
    margin-right: 0px;
    border-right: 1px solid #aaaaaa;
    padding: 0 20px;
}
li a{
    text-decoration: none;
    font-weight: bold;
    color: silver;
    font-family: 'Sunshiney', cursive;
}
li a:hover{
    /*Whilst hovering over the navigation links, the letters turn red*/
    color: red;
    font-size: 15pt;
}


