h1{
    /*Creates the font style, and size, font found from google fonts */
    font-family: 'Sunshiney', cursive;
}
img{
    /*Styles the image of me into a circle*/
    border-style: none;
    border-radius: 100%;
    filter: grayscale(0);
}
.container:hover{
    filter: grayscale(1);
    border-style: none;
    border-radius: 100%;
    transition: background-size 0.3s ease;
    filter: grayscale(1);
    transition: background size 0.3s ease;
}
body{
    /*Aligns all objects within body to the center*/
    text-align: center;
}